{% extends 'layout.html' %}
{% block st %}New Expense{% endblock %}
{% block content %}
<form method="post">
    <div class="mb-3">
        <label>Amount</label>
        <input name="amount" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Category</label>
        <select name="category" class="form-control" required>
        <option value="" disabled selected>Select a category</option>
        {% for cat in categories %}
        <option value="{{ cat }}">{{ cat }}</option>
        {% endfor %}
    </select>
    </div>
    <div class="mb-3">
        <label>Note</label>
        <input name="note" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Add Expense</button>
</form>
<a href="{{ url_for('index') }}" class="btn btn-outline-primary mt-4">← Back Home</a>
{% endblock %}
